@import "variables";
html{
  background-color: #FAFAFA;
  font-size:16px;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
  margin: 0;
  padding:0;
  min-height: 100vh;
}
.containerHome{
  max-width:1200px;
}
.menuUl li{
  display: inline;
  margin-left:10px;
}
.homeDiv, .portfolioDiv, .skillsDiv{
  height:100vh;
  border:1px solid red;
}
.pointer{
  cursor: pointer;
  transform:rotate(90deg);
}
.skillsDiv{
  display: flex;
  flex-direction: row
}
