@import "variables";
html{
  background-color: #FAFAFA;
  font-size:16px;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
  margin: 0;
  padding:0;
  min-height: 100vh;
}

.container{
  max-width:1200px;
}
.menuUl li{
  display: inline;
  margin-left:10px;
}

.homeDiv, .portfolioDiv, #skillsDiv, .contactDiv {
  height:100vh;
  border:1px solid red;
  h2{
    ;
  }
}
.pointer{
  cursor: pointer;
  transform:rotate(90deg);
}
.skillsDiv{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  .skillsDivExample{
    min-width:33%;
    
    min-height:150px;
  }

  .skillsh2{
    text-align:center;
  }
}
